:root {
    --primary-color: #f6faf6; /* white */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   font-family: var(--body-font); 
   color: var(--accent1-color);
}

header, main, footer {
   width: 840px;
   margin: 0 auto;
}

h1, h2 {
   font-family: var(--heading-font);
   color: var(--primary-color);
   background-color: var(--accent1-color);
   text-align: center;
}

p, section, article {
   margin: 16px;
   padding: 8px;
}

.socialmedia a {
   text-decoration: none;
}

.hero {
    position: relative;
    max-width: 100%;
}

.hero img {
   display: block;
   width: 100%;
   height: auto;
}

h1 {
   position: absolute;
   top: 20px;
   width: 100%;
   padding: 5px;
   text-align: center;
   opacity: 0.7;
   background-color: var(--accent1-color);
   color: var(--primary-color)
}

.hero article img {
    float: right;
    width: 150px;
}
.hero article {
    position: absolute;
    bottom: 20px;
    right: 10px;
    opacity: 0.7;
    padding: 0;
    background-color: var(--accent1-color);
    color: var(--primary-color)
}

h2 {
    position: initial;
    top: 10px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}



